Experimento 1 ArquiSoft (Node-red).txt
[
    {
        "id": "3646570c.b2c578",
        "type": "tab",
        "label": "Telemetry Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f00bff84.430ca",
        "type": "inject",
        "z": "3646570c.b2c578",
        "name": "Sensor Time",
        "topic": "roomTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "x": 132.5,
        "y": 383,
        "wires": [
            [
                "1e9a854.b6b177b",
                "b1b77913.929098"
            ]
        ]
    },
    {
        "id": "c22b821.0e7578",
        "type": "function",
        "z": "3646570c.b2c578",
        "name": "Format Temperature",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit =\"\";\nvar tempUnit1 =\"\";\nvar tempUnit2 =\"\";\nvar tempUnit3 =\"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\" \");\ntempUnit = tempArray[1];\ntempUnit1 = tempArray[3];\ntempUnit2 = tempArray[5];\ntempUnit3 = tempArray[7];\nres.topic = \"roomMesures\";\n\nres.payload = { \"Temperatura\": parseInt(tempArray[0]), \"Unidad temperatura\": tempUnit, \"Monoxido de carbono\": parseInt(tempArray[2]), \"Unidad monoxido\": tempUnit1, \"Ruido\": parseInt(tempArray[4]), \"Unidad ruido\": tempUnit2, \"Iluminacion\": parseInt(tempArray[6]), \"Unidad iluminacion\": tempUnit3}\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "ea370254.c5b75",
                "d04d649b.ad5f48"
            ]
        ]
    },
    {
        "id": "b1b77913.929098",
        "type": "function",
        "z": "3646570c.b2c578",
        "name": "Format Time",
        "func": "var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "66b066f6.b7f338",
                "d04d649b.ad5f48"
            ]
        ]
    },
    {
        "id": "e568827f.3349",
        "type": "debug",
        "z": "3646570c.b2c578",
        "name": "Before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "1e9a854.b6b177b",
        "type": "debug",
        "z": "3646570c.b2c578",
        "name": "Before format 1.5",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 250,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea370254.c5b75",
        "type": "debug",
        "z": "3646570c.b2c578",
        "name": "After format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "66b066f6.b7f338",
        "type": "debug",
        "z": "3646570c.b2c578",
        "name": "After format 1.5",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "d04d649b.ad5f48",
        "type": "function",
        "z": "3646570c.b2c578",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomMesures\":\n        context.data.Mesures = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.Mesures != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomMesures\"\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "24aaaf8c.2ce8d",
                "b04d4707.bd3b98"
            ]
        ]
    },
    {
        "id": "24aaaf8c.2ce8d",
        "type": "debug",
        "z": "3646570c.b2c578",
        "name": "After Merge Telemetry",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "fc8b0fcb.459fa",
        "type": "inject",
        "z": "3646570c.b2c578",
        "name": "",
        "topic": "inject",
        "payload": "24 C 280 ppm 70 DB 300 Lux",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "c22b821.0e7578",
                "e568827f.3349"
            ]
        ]
    },
    {
        "id": "b04d4707.bd3b98",
        "type": "mqtt out",
        "z": "3646570c.b2c578",
        "name": "",
        "topic": "piso1.nivel1.area1",
        "qos": "",
        "retain": "",
        "broker": "95cf873f.5bf998",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "95cf873f.5bf998",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.24.42.22",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]